.container {
  width: 320px;
  margin: 0 auto;
  color: steelblue;
}

h1 {
  color: steelblue;
}

#end {
  visibility: hidden;
}
#end.over {
  visibility: visible;
  background-color: #FFCCCC;
  color: #000000;
  margin: 0px auto 20px auto;
  padding: 5px 0px;
}

#score {
  float: right;
}

#version {
  margin-top: 10px;
  display: block;
  color: steelblue;
  text-align: right;
}

@keyframes new_tile {
  from {
    background-color: #aaFFaa;
  }
  to {
    background-color: #E0EEDC;
  }
}

.cell {
  width: calc(100% * (1/4) - 2px);
  line-height: 78px;
  border: 1px solid gray;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 10%;
  color: #444444;
  font-weight: bold;
  font-family: monospace;
  font-size: 32px;
}

.icon {
  border: 2px solid #cccccc;
  border-radius: 25%;
  background-color: #eeeeee;
}

.icon.on {
  border-color: #97C88C;
  border-radius: 25%;
  background-color: #E0EEDC;
}

.val_new {
  animation-name: new_tile;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.val_0 {
  background-color: #FFFFFF;
  color: #FFFFFF;
  border-color: #EEEEEE;
}

.val_2 {
  background-color: #F0F0F0;
}

.val_4 {
  background-color: #C0C0C0;
}

.val_8 {
  background-color: #FFCCCC;
}

.val_16 {
  background-color: #FFAAAA;
}

.val_32 {
  background-color: #CCFFCC;
}

.val_64 {
  background-color: #AAFFAA;
}

.val_128 {
  background-color: #CCCCFF;
}

.val_256 {
  background-color: #AAAAFF;
}
